body {
    background-color: #f5f5f5;
    width: 99%;
    margin: 0 auto;
}

.header {
    width: 1280px;
    height: 40px;
    background-color: #333333;
    margin: 0 auto;
}

.header-top {
    width: 1226px;
    height: 40px;
    margin: 0 auto;
}

.header-left {
    float: left;
}

.header-left a {
    color: #b0b0b0;
    height: 40px;
    line-height: 40px;
}

.header-left span {
    color: #424242;
}

.cart-icon {
    background: url(images/cart.png) no-repeat;
    width: 20px;
    height: 20px;
    background-size: contain;
    margin-top: 10px;
    float: right;
    padding-right: 10px;
}

.cart a {
    float: right;
    height: 40px;
    line-height: 40px;
    color: #b0b0b0;
}

.cart a {
    position: relative;
}

.cart-layer {
    width: 300px;
    height: 0;
    position: absolute;
    top: 40px;
    left: -210px;
    background-color: white;
    text-align: center;
    line-height: 80px;
    font-size: 14px;
    color: black;
    transition: all 0.5s ease;
    overflow: hidden;
    z-index: 300;
}

.cart:hover .cart-layer {
    height: 80px;
}

.cart:hover .cart {
    background-color: #fff;
}

.user {
    float: right;
    margin-right: 20px;
    padding: 0 5px 0 5px;
}

.user a {
    color: #b0b0b0;
    height: 40px;
    line-height: 40px;
}

.user span {
    color: #424242;
}

.load-app-layer {
    width: 130px;
    height: 0;
    background-color: white;
    position: absolute;
    top: 40px;
    left: -55%;
    overflow: hidden;
    /* display: none; */
    transition: all 0.5s ease;
}

.load-app:hover .load-app-layer {
    height: 134px;
    z-index: 99;
}

.load-app-layer p {
    position: absolute;
    bottom: -9px;
    left: 29px;
    color: black;
}

.load-app-l {
    width: 90px;
    height: 90px;
    box-sizing: border-box;
    background-color: #fff;
    margin: 18px 17px 12px 17px;
}

.load-app {
    position: relative;
    display: inline-block;
    /* width: 44.69px; */
}

.title-top .title-top1 {
    width: 1226px;
    height: 100px;
    /* overflow: hidden; */
    /* background-color: aliceblue; */
    margin: 0 auto;
    position: relative;
}

.title-top .title-top1 .title-top-left {
    width: 55px;
    height: 55px;
    background-color: orangered;
    margin-top: 20px;
    float: left;
}

.title-top .title-top1 .title-top-center {
    float: left;
    /* height: 55px; */
    /* margin-top: 35px; */
    text-align: center;
    margin-left: 150px;
    height: 100px;
    line-height: 100px;
}

.title-top .title-top1 .title-top-center a {
    padding: 0 10px;
    font-size: 16px;
    text-decoration: none;
    color: #333;
    float: left;
   
}

.title-top-right .ser {
    width: 245px;
    height: 50px;
    display: block;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
    float: right;
}
.title-top-right .icon-icon-test {
    float: right;
    width: 50px;
    height: 51px;
    border: 1px solid #B0B0B0;
    font-size: 30px;
    padding-top: 10px;
    box-sizing: border-box;
    background-color: #fff;
}

.title-top .title-top1 .title-top-right {
    float: right;
    padding-top: 20px;
}

.photo-layer-z {
    position: absolute;
    height: 0;
    width: 1226px;
    left: 0;
    background-color: #fff;
    transition: all 0.5s ease;
    /* width: 1280px; */
    /* background-color: lightcoral; */
    z-index: 999;
}

.photo-layer {
    width: 1224px;
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
}

.title-top-center a:hover .photo-layer-z {
    height: 190px;
}

.photo-layer li {
    width: 180px;
    background-color: white;
    float: left;
    padding: 20px 12px 0;
    /* border-right: 1px solid gray; */
}
.photo-layer li .layer-img {
    border-right: 1px solid #e0e0e0;
}
.photo-layer li:last-child .layer-img {
    border-right: none;
}
.photo-layer li img {
    width: 130px;
    height: 116px;
    margin: 0 auto;
    display: block;
}

.photo-layer li .name {
    color: #333;
    font-size: 12px;
    text-align: center;
    line-height: 14px;
}

.photo-layer li .price {
    color: #ff6700;
    font-size: 12px;
    text-align: center;
    line-height: 14px;
}
.banner {
    position: relative;
    width: 1224px;
    margin: 0 auto;
}

.banner img {
    width: 100%;
    display: block;
   
    
}

.site-category-list {
    width: 240px;
    height: 460px;
    background: rgba(0, 0, 0, .2);
    position: absolute;
    top: 140px;
    left: 30px;
    z-index: 99;
}

.site-category-list .number-list {
    width: 100%;
    height: 42px;
}

.site-category-list .number-list .number {
    position: relative;
    display: block;
    height: 42px;
    line-height: 42px;
    /* border-bottom: 1px solid rgba(255, 255, 255, .34); */
    margin: 0 auto;
    font-size: 14px;
    color: #fff;
    padding: 15px 0 0 30px;
}

.site-category-list .number::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    transform: rotate(135deg);
    position: absolute;
    right: 5px;
    top: 30px;
}

.site-layer {
    width: 920px;
    height: 460px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 240px;
    display: none;
    color: #fff;
    font-size: 150px;
    z-index: 909999999;
}

.site-category-list .number-list:hover .site-layer {
    display: block;
}

.site-category-list .number-list:hover {
    background: rgba(0, 0, 0, .3);
}



.site-category-list .site-layer .li-second {
    width: 200px;
    padding: 20px 20px 0 10px;
    float: left;
  
}
.site-category-list .site-layer .li-second img {
    width: 50px;
    height: 60px;
    float: left;
    vertical-align: middle;
    margin-right: 12px;
}
.site-category-list .site-layer .li-second a .name{
    float: left;
    width: 80px;
    height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: black;
    font-size: 12px;
    margin-top: 20px;

}

.title-third .title-third1{
    width: 1226px;
    height: 170px;
    margin: 0 auto;
    
    margin-top: 15px;
    overflow: hidden;
}
.title-third .title-third1 .title-third-left{
    width: 246px;
    height: 170px;
    float:left;
    background-color: #333;
   
    
}
.title-third .title-third1 .title-third-left li img{
    width: 24px;
    height: 24px;
    margin: 0 auto 4px ;
    display: block;
    
}
.title-third .title-third1 .title-third-left li{
    width: 76px;
    height: 82px;
    padding: 0px 3px; 
    list-style: none;
    float: left;
    
    
}
.title-third .title-third1 .title-third-left li a{
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
    padding: 18px 0 0; 
    display: block;
    text-align: center;
}
/* .title-third .title-third1 .title-third-right{
  
   
} */
.title-third .title-third1 .title-third-right img{
    width: 311px;
    height: 170px;
    margin-left: 15px;
    float: left;
}
.round img {
    width: 1226px;
    height: 120px;
}
.round {
    width: 1226px;
    height: 120px;
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;
}
.food{
    width: 1226px;
    height: 98px;
    margin: 0 auto;
}
.food h2{
    float: left;
    margin-top: 50px;
}
.food a {
    float: right;
    margin-top: 60px;
    text-decoration: none;
    color: grey;
}
.phone .phone1 {
    width: 1226px;
    margin: 0 auto;
    height: 614px;
}
.phone .phone1 .phone-left {
    width: 234px;
    height: 614px;
    float: left;
    
    

}
.phone .phone1 .phone-left:hover .first {
margin-top: 5px;
}
.phone .phone1 .phone-left .first {
    width: 234px;
    height: 614px;
    float: left;
    transition: all 0.2s ease;
}
.phone .phone1 .phone-right {
    width:992px ;
    /* height：614px; */
   
    float: left;
}
.phone .phone1 .phone-right .phone-right-late {
    width: 978px;

    height: 614px;

}
.phone .phone1 .phone-right .phone-right-late img {
    width: 160px;
    height:160px;
    margin: 0 auto;
    display: block;
    transition: all 0.2s ease;

}
.phone .phone1 .phone-right .phone-right-late li:hover .phone-right-late img {
    margin-top: 5px;
}
.phone .phone1 .phone-right .phone-right-late li{
    width: 234px;
    height: 303px;
    background-color: white;
    margin: 0 0 10px 10px ;
    float: left;
    list-style: none;
}
.phone .phone1 .phone-right .phone-right-late li a {
    text-decoration: none;
    text-align: center;
   
}
.phone .phone1 .phone-right .phone-right-late li a .price{
    color: #ff6700;
    font: 14px;
    margin-top: 20px;
}
.phone .phone1 .phone-right .phone-right-late li a .desc{
    color:#B0B0B0;
    font-size: 12px;
    
}
.phone .phone1 .phone-right .phone-right-late li a h3{
    color: #333;
    font-size: 14px;
}
.phone .phone1 .phone-right .phone-right-late li a .price span {
    text-decoration-line: line-through;
    color: #b0b0b0;
}
.food-center{
    width: 1226px;
    height: 80px;
    margin: 0 auto;
}
.food-center h2{
    float: left;
    margin-top: 30px;
    font-weight: normal;
}
.food-center a {
    float: right;
    margin-top: 30px;
    text-decoration: none;
    color: grey;
    margin-left: 20px;
}
.img666 img{
    width: 1226px;
    height: 120px;
   
    
}
.img666{
    width: 1226px;
    height: 120px;
    margin: 0 auto;
}
.row {
    width: 1240px;
    height: 628px;
    margin: 0 auto;
    /* background-color: yellow; */

}
.row-left {
    width: 248px;
    height: 614px;
    margin: 0 0 -14px -14px;
    float: left;
    
}
.row-left .colum-left {
    width: 234px;
    height: 300px;
    
    margin-left: 14px;
    margin-bottom: 14px;
}
.row-left .colum-left img {
    width: 234px;
    height: 300px;
}
.row-right {
    width: 1300px;
    height: 614px;
    margin: 0 0 -14px -14px;
}
.row-right .colum-right .tv {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    
}
.row-right .colum-right {
    float: left;
    position: relative;
    z-index: 1;
    float: left;
    width: 234px;
    margin-left: 14px;
    margin-bottom: 14px;
    background: #fff;
    /* -webkit-transition: all .2s linear;
    transition: all .2s linear; */
    height: 300px;
}
.row-right .colum-right .name {
    font-size: 14px;
    margin: 0 10px 2px;
    text-align: center;

}
.row-right .colum-right .desc {
    margin: 0 10px 10px;
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
    text-align: center;

}
.row-right .colum-right .price {
    text-align: center;
}
.row-right .colum-right .price .new {
    margin: 0 10px 10px;
    text-align: center;
    color: #ff6700;
    font-size: 14px;
}

.row-right .colum-right .price .old {
    font-size: 14px;
    color: #B0B0B0;
    text-decoration: line-through;

}
.colum-right .colum-right-top {
    width: 234px;
    height: 143px;
    position: relative;

}
.colum-right .colum-right-top .top {
    position: absolute;
    width: 80px;
    height: 80px;
    right: 20px;
    top: 20px;
   
}
.colum-right .colum-right-top .top-title {
    position: absolute;
    font-size: 14px;
    color: #000;
    top: 30px;
    left: 20px;
    font-weight: 400;
    /* display: block; */
    width: 100px;
}
.colum-right .colum-right-top  .price {
    position: absolute;
    font-size: 14px;
    color: #ff6700;
    top: 70px;
    left: 20px;
    font-weight: 400;
    /* display: block; */
    width: 100px;
}
.site-footer{
    margin: 0 auto;
    width: 100%;
    height: 272px;
    /* background-color: teal; */
}
.site-footer ul{
    width: 1226px;
    height: 80px;
    /* background-color: violet; */
    border-bottom: 1px solid grey;
    margin-left: 63px;
}
.site-footer ul li{
    width: 20%;
    height: 100%;
    /* background-color: khaki; */
    overflow: hidden;
    float: left;
}
.site-footer ul li span{
    display: block;
    text-align: center;
    /* background-color: lawngreen; */
    margin-top: 28px;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    border-right: 1px solid grey;
    box-sizing: border-box;
}
.site-footer .top{
    width: 100%;
    height: 80px;
    /* background-color: lawngreen; */
}
.footer-link{
   width: 100%;
    height: 112px;
    padding: 40px 0 ;
    /* background-color: indianred; */
}
.footer-link .link-button1{
    width:160px ;
    height: 100%;
    /* background-color: lawngreen; */
    float: left;
}
.footer-link .link-button1 h3{
    color: #424242;
}
.footer-link .link-button1 p{
    font-size: 12px;
    height: 18px;
    margin-top: 10px;
    color: #757575;
}
.footer-link .link-button-left{
    width:985px;
    height: 100%;
    /* background-color: lightgreen; */
    margin-left: 50px;
    border-right: 1px solid grey;
    float: left;
}
.footer-link .link-button-right{
   width:192px;
    height: 112px;
    float: left;
    /* background-color:yellow; */
}
.footer-link .link-button-right .right1{
    text-align: center;
    font-size: 22px;
    color: #ff6700;
}
.footer-link .link-button-right .right2{
    font-size: 12px;
    color: #616161;
    text-align: center;
}
.footer-link .link-button-right .right3{
    width: 120px;
    height: 30px;
    border: 1px solid orangered;
   text-align: center;
   color: orangered;
   font-size: 12px;
   line-height: 30px;
    margin: 0  auto;
    margin-top:20px;
}
.site-info{
    width: 100%;
    height: 200px;
    padding-top: 30px;
    background-color: #f5f5f5;
   
}
.site-info .left{
    width: 57px;
}
/* 浮动 */
.float-bar {
    position: fixed;
    top: 20%;
    right: 1px;
    height: 193px;
    width:27px;
    background-color: #fff;
    box-shadow:0px 6px 6px 0px rgba(2,2,2,0.17);
    z-index: 999;
}
.float-bar li {
    height:38px;
    border-bottom: 1px solid #E1E1E1;
    margin: 0 0 0 0;

}
.float-bar li .icon {
    width: 20px;
    height: 59px;
    padding-top: 10px;
    background-image: url(../MAGES/right_03.png) ;
    background-repeat: no-repeat;  
    display: block;  
}
.float-bar li .txt{
    width: 38px;
    padding:17px 7px 0;
    box-sizing: border-box;
    text-align: left;
    display: none;
}
.float-bar li:hover .icon {
    /* display: none; */
}
.float-bar li:hover .txt {
    display: block;
}
.float-bar li .code1{
    width: 70px;
    line-height: 28px;
    height: 28px;
    position: absolute;
    top: 86px;
    left: -81px;
    padding-left: 10px;
    box-sizing: border-box;
   display: none;
   background-color: white;
}
.float-bar li .code2{
    width: 70px;
    line-height: 28px;
    height: 28px;
    position: absolute;
    top: 125px;
    left: -81px;    
    padding-left: 10px;
    box-sizing: border-box;
   display: none;
   background-color: white;
}
.float-bar li .code3{
    width: 70px;
    line-height: 28px;
    height: 28px;
    position: absolute;
    padding-left: 0px;
    box-sizing: border-box;
    top: 165px;
    left: -81px;
   display: none;
   background-color: white;
}
.float-bar li .code4{
    width: 70px;
    line-height: 28px;
    height: 28px;
    position: absolute;
    padding-left: 10px;
    box-sizing: border-box;
    top:48px;
    left: -81px;
   display: none;
   background-color: white;
}
.float-bar li .code5{
    width: 80x;
    line-height: 28px;
    height: 126px;
    position: absolute;
    padding-left: 10px;
    box-sizing: border-box;
    top:10px;
    left: -79px;
   display: none;
   z-index: 999;
   background-color: white;
}
.code5 img{
    width: 68px;
    height: 68px;
}
.float-bar li:hover .code1 {
    display: block;
}

    .float-bar li:hover .code2 {
        display: block;
    }
    .float-bar li:hover .code3 {
        display: block;
    }
    .float-bar li:hover .code4 {
        display: block;
    }
    .float-bar li:hover .code5 {
        display: block;
    }
    .icon-feedback {
        background-position: center 0;
    }
    .icon-feedback img{
        width: 20px;
        height: 20px;
    }
    
     .icon-question{
        background-position: center -59px;
    }
    .icon-question img{
        width: 20px;
        height: 20px;
    }
    .icon-app {
        background-position: center -118px;
    }
    .icon-app img{
        width: 20px;
        height: 20px;
    }
    .icon-weixin {
        background-position: center -177px;
        }
    .icon-weixin img{
         width: 20px;
         height: 20px;
    }
    .icon-gouwuche {
        background-position: center -236px;
        }
    .icon-gouwuche  img{
            width: 20px;
            height: 20px;
    } 
    .smallsjx{
        width: 0;
        border-width:8px;
        border-style: solid;
        border-color: transparent transparent transparent white;
        position: absolute;
        top:8px;
        left: 70px;
    } 
    .code5 p{
        width: 100;
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        font-weight: 400;
        color:grey;
        
    
    }




    /* .video */
    .video-box {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 300px;
        /* height: 200px; */

    }
    .video-box li {
        width: 24%;
        height: 285px;
        float: left;
        /* border-left: 3px solid white; */
        box-sizing: border-box;
        background-color: #fff;
        margin-left: 10px;
    }
    .video-box li .name {
        margin-left: 50px;
        font-size: 14px;
        margin-top: 20px;
    }
    .video-box .video-1 {
        width: 296px;
        height: 180px;
    }
    .site-info .left {
        float: left;

    }
.site-info  {
        width: 95%;
        margin: 0 auto;
    }
    .site-info .right{
        float: left;
        width: 1100px;
        margin-left: 10px;

    }
    .site-info .right p {
        font-size: 12px;
        color: #B0B0B0;
    }
    .site-info .logo img {
        display: block;
        float: left;
        width: 85px;
        height: 25px;
        margin-top: 10px;
 }
 .slogin {
     width: 267px;
     height: 19px;
     background: url(https://s02.mifile.cn/assets/static/image/slogan2016.png);
     margin: 0 auto;
 }


    

